/*
To Do:
1. key binding to enter ket for search button
2. clear results div when search button pressed -DONE
3.
*/

body{
  background-color: rgb(80, 70, 219);
  color: #fefefe;
  text-align: center;
}

.container{
  min-height: 550px;
}

.content{
  padding: 20% 20% 0 20%;
}

input{
  color: #333;
}

.loading{
  display: none;
  margin-top: 30px;
}

.results{
  padding-top: 30px;
}

.results a{
  text-decoration: none;
  color: #fefefe;
}

.results a:focus, .results a:hover{
  color:#333;
}

.results a:focus .title, .results a:hover .title{
  color:#fefefe;
}

.results a{
  margin-top: 20px;
}

.title{
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}



.foot {
  background-color: rgba(10, 10, 30, .6);
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
/*  position: absolute; */
}

.foot p {
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: #dfdfdf;
}

.foot p a:hover, .foot p a:active {
  color: rgb(10, 10, 30);
}
