/*
To Do:
1. handle when there are no results. Example search: lsaifdj DONE
2. Move seach box and buttons up when resuts are posted DONE
3. handle when searchValue==null DONE
*/

body{
  background-color:  #8fe895;
  color: #555;
  text-align: center;
}

.container{
  min-height: 560px;
}

.content{
  font-size: 3rem;
  margin: 20% 0;
}

.content a {
  margin-left: 3%;
}

.content .btn{
  font-size: 3rem;
  vertical-align: unset;
}

input{
  color: #333;
}

.loading{
  display: none;
  margin-top: 30px;
}

.results{
  padding-top: 30px;
}

.results a{
  text-decoration: none;
  color: #555;
}

.results a:focus, .results a:hover, .results a:focus .title, .results a:hover .title{
  color:#fefefe;
}

.results a{
  margin-top: 20px;
}

.snippet{
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin:20px;
  padding:10px;
  background-color: rgb(163, 262, 125);
}

.title{
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}



.foot {
  background-color: rgb(63, 99, 78);
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  position: absolute;
}

.foot p {
  color:#fefefe;
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: #dfdfdf;
}

.foot p a:hover, .foot p a:active {
  color: rgb(10, 10, 30);
}
