/*
To Do:
1. format the text so that the article title is justified at the top left of the tile.
2. Increase the width of the tiles relative to their heigth
3. Increase the font size of the text snippet.
*/

body{
  background-color:  #8fe895;
  color: #555;
  font-size: 18px;
  text-align: center;
}

.col-lg-3{
  margin-bottom: 30px;
}

.container{
  min-height: 560px;
}

.content{
  font-size: 3rem;
  margin: 20% 0 10% 0;
}

.content a {
  margin-left: 3%;
}

.content .btn{
  font-size: 3rem;
  vertical-align: unset;
}

input{
  color: #333;
}

.loading{
  display: none;
  margin-top: 30px;
}

.results{
  padding-top: 30px;
}

.results a{
  text-decoration: none;
  color: #555;
}

.results a:focus, .results a:hover, .results a:focus .title, .results a:hover .title{
  color:#fefefe;
}

.results a{
  margin-top: 20px;
}

.anchorContainer{
  margin-bottom:30px;
}

.snippetContainer{
  border: 1px solid #fefefe;
  border-radius: 10px;
  min-height: 375px;
  padding:10px;
  background-color: rgb(163, 262, 125);
}

.snippet{
  font-size: 2.25rem;
}

.title{
  font-weight: 600;
  font-size: 3rem;
  color: #333;
  margin-left: 0;
  max-width:85%;
  min-height: 100px;
  text-align: left;
}



.foot {
  background-color: rgb(63, 99, 78);
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  position: absolute;
}

.foot p {
  color:#fefefe;
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: #dfdfdf;
}

.foot p a:hover, .foot p a:active {
  color: rgb(10, 10, 30);
}
